html {
  position: relative;
  min-height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}

#logo {
  margin-top: -10px;
  width: 200px;
  display: none;
}

p, h1 {
  font-family: PingFang SC, Lantinghei SC, Helvetica Neue, Helvetica, Arial, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, STHeitiSC-Light, simsun, \\5B8B\4F53, WenQuanYi Zen Hei, WenQuanYi Micro Hei, 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0rem;
}

.h1, h1 {
  font-size: 1.5rem;
}

a {
  color: black;
}

a:hover {
  color: grey;
}

main {
  max-width: 720px !important;
  text-align: left;
}

.form-control {
  border-radius: 0px;
  -webkit-appearance: none;
}

.main-logo {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  height: 20px;
  /* Set the fixed height of the footer here */
  line-height: 60px;
  /* Vertically center the text there */
  background-color: white;
}

.vis-text {
  font-size: 1rem;
  font-weight: 900;
}

.vis-value {
  font-size: 1rem;
  font-weight: 100;
}

.spacer-lg {
  height: 30px;
}

.spacer-md {
  height: 10px;
}
