html, body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: white;
}

#logo {
  width: 200px;
  display: none;
}

main {
  max-width: 800px !important;
  text-align: left;
}

.vis-text {
  font-size: 1rem;
  font-weight: 900;
}
.vis-value {
  font-size: 1rem;
  font-weight: 100;
}
